<script src="/js/jquery-1.7.1.js"></script>
<script src="/js/square.js"></script>

<table border=1 cellpadding=5>
  <% 0.upto(9) do |r| %>
    <tr>
      <% 0.upto(9) do |c| %>
        <td id=<%= "r#{r}c#{c}" %> >
          <%=
            if square[r].nil?
              ""
            else
              square[r][c] || ""
            end
          %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<input id="nameTxt" type="text" name="name" />

<span id="square_submit" onclick="submitSquare('<%= game_id %>', document.getElementById('nameTxt').value)">Save Changes</span>

